<!DOCTYPE html>

<html>
<style>
    .grid-container {
      display: grid;
      grid-template-columns: auto auto auto;
      padding: 10px;
      grid-auto-rows: 1fr;
    }
    .grid-item {
      background-color: rgba(255, 255, 255, 1);
      border: 1px solid rgba(0, 0, 0, 0.8);
      padding: 20px;
      font-size: 30px;
      text-align: center;
    }
    .image {
      height: 25vh;
    }
    .button {
      justify-content: flex-end;
      display: flex;
    }
    .header {
      justify-content: center;
      display: flex;
      margin-bottom: 30px;
    }
</style>
<head>
    <meta charset="utf-8">
    <title>For loop in Flask</title>
</head>
<body>

<div class='grid-container'>
<!-- For loop logic of jinja template -->
{%for i in range(0, len)%}
  <div class='grid-item'>
    <form action="/delete_image/{{ files[i].encode('utf-8').decode('utf-8') }}" method="POST">
      <a class='header'>{{files[i].encode('utf-8').decode('utf-8')[0]}}</a>
      <input class='image' type="image" name="image" src="symbols/{{ files[i].encode('utf-8').decode('utf-8') }}" alt="Generated image"/>
      <input class='button' type="submit" value="Delete" />
    </form>
  </div>
{%endfor%}

</div>

</body>
</html>