<!DOCTYPE html>
<html>
<style>
    body {
        width: 100%;
        /* margin: 0 auto; */
        font-family: Tahoma, Verdana, Arial, sans-serif;
        margin: 0;
        padding: 0;
    }
    div {
        left: 50%;
        top: 50%;
        position: absolute;
        -webkit-transform: translate3d(-50%, -50%, 0);
        -moz-transform: translate3d(-50%, -50%, 0);
        transform: translate3d(-50%, -50%, 0);
    }
</style>
<head>
    <title>Index</title>
</head>
<body>
  <div>
    <img src="{{ image }}" alt="Generated image">
  </div>
</body>
</html>